<div class="row">
	<div class="col-3"></div>

	<div class="col-6">
		<%= form_for @page do |f| %>

			<% if @page.errors.any? %>
				<% @page.errors.full_messages.each do |message| %>
					<div class="alert alert-danger" role="alert"><%= message %></div>
				<% end %>
			<% end %>

			<%= f.hidden_field :parent_id %>
			
			<h3>Name:</h3>
			<%= f.text_field :name %></br>

			<h3>Title:</h3>
			<%= f.text_field :title %></br>
			
			<h3>Content:</h3>
			<%= f.text_area :content %></br>

			<%= f.submit %>
		<% end %>	
		</br>
		<%= link_to 'Back', root_path, class: 'btn btn-primary' %>
	</div>
	<div class="col-3"></div>
</div>